
@font-face {
  font-family: 'Chiswick Deck Web';
  src: url('./css/ChiswickDeck-Bold-Web.eot');
  src: url('./css/ChiswickDeck-Bold-Web.eot?#iefix') format('embedded-opentype'),
       url('./css/ChiswickDeck-Bold-Web.woff2') format('woff2'),
       url('./css/ChiswickDeck-Bold-Web.woff') format('woff');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {

}

@font-face {

}
