/* Non mobile hides */


/* Smaller than desktop */
@media (max-width: 990px) {
  .single-report {

  #banner_full {
    display: flex
  }
  #banner_full section:last-of-type {
    width: 100%;
    height: 100%;
    margin-top: 0;
  }
  #banner_full section {
    flex: 1
  }

  #title {
  margin-top: 0;
  height: 100%;
  width: 100%;
  }
  #title h1 {
    font-size: 2em;
    position: absolute;
    font-family: "Chiswick Deck Web", serif;
    text-align: left;
    top: 157px;
    left: 14px;
    color: white;
    width: 45%; 
    span {
      font-size: 1.5em;
      line-height: 1.1em;
      display: block;
      margin-bottom: 14px;
      padding-bottom: 14px; 
    }
  }


}

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 

}


/* Smaller than phablet (also point when grid becomes active) */
@media (max-width: 768px) {
  .single-report {

    #banner_full {
      display: flex
    }
    #banner_full section:last-of-type {
      width: 100%;
      height: 100%;
      margin-top: 0;
      background: none !important;
    } 
  }

  #header_fixed {
    background: white;
    position: fixed;
    min-height: $body-top-mobile;
    height: auto;
    width: 100%;
    top: 0;
    img {
      height: 18px;
      display: inline;
    }
    h1 {
      font-size: 16px;
    }
    .container {
      width: 100%;
      padding: 0;
      margin: 0;
      .row {
        margin: 0;
        padding: 0;
      }
      .col-sm-3, .col-sm-9 {
        margin: 0;
        padding: 0;
      }
    }
  h1.site-title {
    width: 100%;
    a {
      padding-left: $base;
    }
  }
  .site-navigation {
    ul {
      height: auto;
    }
    #primary-menu {
      display: none;
      flex-direction: column;
      background: white;
      width: 100%;
      li {
        display: block;
        text-align: center;
      }
    }
  }
  .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 32px;
  }
  }
  .page-template-default
   { #banner_full {
    margin-top: $body-top-mobile;
    h1 {
      color: white;
      font-size: 2*$base;
      font-weight: bold;
      text-align: center;
    }
    .link {
      text-align: center;
    }
  }
  }
  #home-quote {
    flex-direction: column;
    .two-third, .one-third {

    }
  }
  /*Carousel*/

  .slick-initialized {
    .slick-prev, .slick-next {
      position: absolute;
      bottom: 0px;
    }
    .slick-prev {
      left: 15px;
      @include action_button
    }
    .slick-next {
      right: 15px;
      @include action_button
    }
    .slick-dots {
        text-align: center;
        margin: 0;
        padding: 0;
        width: 100%;
        @include clearfix;
        li {
          display: inline-block;
          text-align: center;
          height: 6px;
          width: 6px;
          margin: $base;
          background-color: $grey;
          border-radius: 3px;
          button {
            display: none;
          }
        }
        li.slick-active { background-color: $black; }
    }
    .slick-list {
      margin-bottom: 32px;
    }
  }
  footer {
      .footer_right {
    text-align: left;
  }
  }
  .site-footer {
    .container {
      background-image: none;
    }
  }
  #page_sidebar {
    text-align: left;
    #mc-embedded-subscribe {
      display: inline-block;
      float: right;
    }
    .spacer {
    display: none;
    }
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  #header_fixed {
    min-height: $body-top-med;
    img {
      height: 30px;
    }
    h1 {
      font-size: 22px;
    }
  }
  #banner_full {
    margin-top: $body-top-mobile;
    h1 {
      color: white;
      font-size: 80px;
      font-weight: bold;
      text-align: center;
    }
  }
}

@media (min-width: 550px) and (max-width: 630px) {
  #header_fixed {
    img {
      height: 26px;
    }
    h1 {
      font-size: 26px;
    }
  }
}
// iphone 6
@media (min-width: 320px) and (max-width: 415px) {

 
}

@media (min-width: 767px) and (max-width: 992px) { 
  #header_fixed {
    h1.site-title {
    a {
      font-size: 2*$base;
    }
  }
  .site-navigation {
    ul {
    }
    #primary-menu {
      a {
        font-size: $base;
      }
    }
  }
}
}

@media (min-width: 767px) {
 .menu-toggle {
    display: none;
 }
}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}

/* Retina Screens */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5)  {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 768px) ,
only screen and (min-device-pixel-ratio: 1.5) and (max-width: 768px) 
{

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1000px) ,
only screen and (min-device-pixel-ratio: 1.5) and (min-width: 1000px) 
{

}